<div class="container comentarios-show">
    <%= form_with(model: [@photo, @comment], local: true) do |form| %>
      <%= form.text_area :content %>
      <div class="boton"><%= form.submit "Enviar" %></div>
      </div>
    <% end %>
</div>