<div class="photo-container">
  <% @photos.each_slice(4) do |photos_slice| %>
    <div class="row">
      <% photos_slice.each do |photo| %>
        <% if photo.persisted? %>
          <div class="col-md-3">
            <%= link_to image_tag(photo.image, class: "foto-show resized-photo"), photo %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
