
.titulo-foto{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.nav-link{
    color:white !important;
}

.avatar{
    width: 50px;
    height: 50px;
}

.foto-show{
    width: 120%;
}

.imagen{
    width: 70%;
    margin-left: 100px !important;
}


.resized-photo {
    width: 400px; 
    height: 400px;
    object-fit: cover;
    margin: 0; 
    padding:0;
  }

  .comment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 500px;
    margin-top: 25px;
  }
  
  .avatar-container {
    margin-right: 10px;
  }

  .avatar {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    object-fit: cover;
  }
  
  .comentarios{
    display: inline;
    text-align: center;
  }



  .comentarios-show{
    text-align: center;
    display: inline-block;
  }

  .boton{
    display: block;
    margin-top: 20px !important;
  }

  .nueva-foto{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .foto-nueva{
    text-align: center;
    padding-top: 15px;
  }

  .form-control , .form-control-file{
    margin-bottom: 20px;
  }

  .body-nueva-foto{
    background-color: #C2DEDC;
  }

  .body-sign-up{
    text-align: center;
    background-color: #DAFFFB;
  }

  .titulo-sign-up{
    margin-top: 80px;
  }